ol li {
    background-color: yellow;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

ol li:nth-child(even) {
    color: green;
}

h1, h3 {
    color: red;
}

h1 em  {
    color: red;
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

ol li em {
    font-weight: bolder;
}

/* Coloca a cor nos elemnetos até o 4 */
#lista li:not(:nth-child(n+4)){
    color: blue;
}

#links li a:hover {
    font-weight:bolder;
}
  
#links li a[href*="stackoverflow"] {
   color: orange;
   text-decoration: none;
}
  
#links li a[href*="w3schools"] {
    color: green;
    text-decoration: none;
}
  
#links li a[href*="mozilla"] {
    color: black;
    text-decoration: none;
}
  
#links li a[href*="devdocs"] {
    color: yellow;
    text-decoration: none;
}
  
#links li a[href*="trybe"] {
    color: green;
    text-decoration: none;
}



